@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@plugin "tailwind-scrollbar";

@theme {
  --breakpoint-md: 500px;
  --breakpoint-lg: 900px;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  div,
  input,
  button {
    font-family: "Open Sans", Arial, sans-serif;
    color: #ffffff;
  }

  h1,
  h2,
  h3 {
    color: #ffffff;
  }

  h1 {
    @apply text-xl md:text-2xl;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
  }

  a {
    display: block;
  }
}

@utility scroll-y {
  @apply overflow-y-auto scrollbar scrollbar-track-transparent scrollbar-thumb-zinc-700;
}

@utility gutter-stable {
  scrollbar-gutter: stable;
}
